<form class="form-horizontal">
    {% include "includes/config_items/global.jinja2" %}
    {% include "includes/config_items/arduino.jinja2" %}
    {% include "includes/config_items/platformio.jinja2" %}
</form>
