<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="arduino_path">{{ _('Path to arduino-cli') }}</label>
        <div class="controls">
            <input type="text" data-bind="value: settingsViewModel.settings.plugins.marlin_flasher.arduino_path" id="arduino_path">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="sketch_ino">{{ _('Sketch .ino') }}</label>
        <div class="controls">
            <input type="text" data-bind="value: settingsViewModel.settings.plugins.marlin_flasher.sketch_ino" id="sketch_ino">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="sketch_size">{{ _('Maximum sketch size') }}</label>
        <div class="controls">
            <div class="input-append">
                <input type="number" min="1" max="1024" data-bind="value: settingsViewModel.settings.plugins.marlin_flasher.max_sketch_size" id="sketch_size">
                <span class="add-on">{{ _('MB') }}</span>
            </div>
            <span>{{ _('*requires restart') }}</span>
        </div>
    </div>
</form>
