th.btn-col {
    width: 39px;
    text-align: center;
}

pre.scrollable-pre {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}

.modal.modal-lg {
    width: 800px;
    margin-left: -400px;
}

.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin-loader 2s linear infinite;
}

.loader-centered{
  margin: 0 auto;
}

.loader-install {
    border-top-color: #0065cc;
}

.loader-uninstall {
    border-top-color: #d34843;
}

.loader-options {
    border-top-color: #555;
}

@keyframes spin-loader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
