th.btn-col {
    width: 39px;
    text-align: center;
}

pre.scrollable-pre {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}

#marlin_flasher_settings_general_wizard textarea, #marlin_flasher_settings_general_settings textarea, #marlin_flasher_settings_arduino_wizard textarea, #marlin_flasher_settings_arduino_settings textarea, #marlin_flasher_settings_platformio_wizard textarea, #marlin_flasher_settings_platformio_settings textarea {
    white-space: nowrap;
    resize: none;
}

#marlin_flasher_platformio_install_modal pre {
    height: 200px;
}

.modal.modal-lg {
    width: 800px;
    margin-left: -400px;
}

.loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin-loader 2s linear infinite;
}

.loader-options {
    border-top-color: #555;
}

.un-install-col {
    text-align: center !important;
}

.install-col > i {
    color: #0065cc;
}

.uninstall-col > i {
    color: #d34843;
}

@keyframes spin-loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
