<div id="marlin_flasher_modal" class="modal modal-lg hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>{{ _('Error Output') }}</h3>
    </div>
    <div class="modal-body">
        <p>
            {{ _('The process gave the following error output:')}}
        </p>
        <pre class="scrollable-pre" data-bind="text: stderr"></pre>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</a>
    </div>
</div>
<div id="marlin_flasher_arduino_install_modal" data-backdrop="static" class="modal modal-lg hide fade">
    <div class="modal-header">
        <h3>{{ _('Arduino installation') }}</h3>
    </div>
    <div class="modal-body">
        <pre class="scrollable-pre" data-bind="text: arduinoInstallationLogs().join('\n')"></pre>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" data-bind="disable: installingArduino">{{ _('Close') }}</button>
    </div>
</div>
<div id="marlin_flasher_platformio_install_modal" data-backdrop="static" class="modal modal-lg hide fade">
    <div class="modal-header">
        <h3>{{ _('Platformio installation') }}</h3>
    </div>
    <div class="modal-body">
        <pre class="scrollable-pre" data-bind="text: platformioInstallationLogs().join('\n')"></pre>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" data-bind="disable: installingPlatformio">{{ _('Close') }}</button>
    </div>
</div>
