<!-- ko if: loginStateViewModel.isAdmin() -->
    <div class="accordion" id="marlin_flasher_accordion">
        {% include "includes/group_items/sketch.jinja2" %}
        {% include "includes/group_items/cores.jinja2" %}
        {% include "includes/group_items/libs.jinja2" %}
        {% include "includes/group_items/flash.jinja2" %}
    </div>
<!-- /ko -->

<!-- ko ifnot: loginStateViewModel.isAdmin() -->
    <h3>{{ _("Sorry") }}</h3>
    <p>
        {{ _("Only administrators are authorized to view and use this panel. If you are an administrator, make sure you logged in with the right account") }}
    </p>
<!-- /ko -->
