<h3>{{ _('Marlin Flasher Wizard') }}</h3>
<div>
    <div class="alert">
        <span class="label label-important">Important</span> In order to properly use Marlin Flasher, you'll need to increase the maximum request size.
        To do this, simply edit <code>config.yml</code>.
        <pre>
server:
  maxSize: 104857600</pre>
    </div>
    <p>The path to arduino-cli has not yet been set up, in order to user Marlin Flasher, you need to configure this</p>
    {% include "includes/config.jinja2" %}
</div>
