<h3>{{ _('Marlin Flasher') }}</h3>
<p>{{ _('Marlin Flasher uses additional software licensed under the following licenses :') }}</p>
<ul>
    <li><a href="https://github.com/Renaud11232/pyduinocli" target="_blank" rel="noreferrer noopener">{{ _('pyduinocli') }}</a> : <a href="https://github.com/Renaud11232/pyduinocli/blob/master/LICENSE" target="_blank" rel="noreferrer noopener">{{ _('MIT') }}</a></li>
    <li><a href="https://github.com/arduino/arduino-cli" target="_blank" rel="noreferrer noopener">{{ _('arduino-cli') }}</a> : <a href="https://github.com/arduino/arduino-cli/blob/master/LICENSE.txt" target="_blank" rel="noreferrer noopener">{{ _('GPLv3') }}</a></li>
    <li><a href="https://github.com/platformio/platformio-core" target="_blank" rel="noreferrer noopener">{{ _('platformio-core') }}</a> : <a href="https://github.com/platformio/platformio-core/blob/develop/LICENSE" target="_blank" rel="noreferrer noopener">{{ _('Apache License 2.0') }}</a></li>
</ul>
