<h3>{{ _('Marlin Flasher Wizard') }}</h3>
<div>
    {% include "includes/maxSize_warning.jinja2" %}
    <p>The path to arduino-cli has not yet been set up, in order to use Marlin Flasher, you need to configure this</p>
    {% include "includes/config.jinja2" %}
</div>
