<h3>{{ _('Marlin Flasher Wizard') }}</h3>
<div>
    <p>The path to arduino-cli has not yet been set up, in order to user Marlin Flasher, you need to configure this</p>
    {% include "includes/config.jinja2" %}
</div>
