<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#marlin_flasher_platformio_accordion" href="#platformio_flash">
            {{ _('Flash') }}
        </a>
        <span data-bind="text: firmwareVersion() ? 'Version: ' + firmwareVersion() : ''"></span> <span data-bind="text: firmwareAuthor() ? 'by: ' + firmwareAuthor() : ''"></span>
    </div>
    <div id="platformio_flash" class="accordion-body collapse">
        <div class="accordion-inner">
            <form class="form-horizontal" data-bind="submit: flash">
                <div class="control-group">
                    <label class="control-label" for="env">{{ _('Environment') }}</label>
                    <div class="controls">
                        <select id="env" name="env" data-bind="options: envList,
                                                               optionsCaption: gettext('PlatformIO default'),
                                                               value: selectedEnv"></select>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button id="platformio_flash-button" class="btn btn-warning" type="submit" data-loading-text="{{ _('Flashing...') }}" data-bind="visible: !envListLoading()" ><i class="icon-warning-sign"></i> {{ _('Flash') }}</button>
                        <div class="loader loader-options" data-bind="visible: envListLoading"></div>
                    </div>
                </div>
                <span data-bind="text: progressStep"></span>
                <div class="progress progress-text-centered">
                    <div class="bar" data-bind="style: {width: flashingProgress() + '%'},
                                                css: {'bar-success': flashingProgress() >= 100}"></div>
                </div>
            </form>
        </div>
    </div>
</div>
