<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#marlin_flasher_arduino_accordion" href="#cores">
            {{ _('Cores') }}
        </a>
    </div>
    <div id="cores" class="accordion-body collapse">
        <div class="accordion-inner">
            <form class="form-search" data-bind="submit: searchCore">
                <div class="input-append">
                    <input name="query" type="text" class="span2 search-query">
                    <button id="search-core-btn" type="submit" class="btn" data-loading-text="{{ _('Searching') }}">{{ _('Search') }}</button>
                </div>
            </form>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>{{ _('ID') }}</th>
                        <th>{{ _('Version') }}</th>
                        <th>{{ _('Name') }}</th>
                        <th class="btn-col"><i class="icon-download-alt"></i></th>
                        <th class="btn-col"><i class="icon-trash"></i></th>
                    </tr>
                </thead>
                <!-- ko if: coreSearchResult().length > 0 -->
                    <tbody data-bind="foreach: coreSearchResult">
                        <tr>
                            <td data-bind="text: id"></td>
                            <!-- ko if: $data.name && $data.latest -->
                                <td data-bind="text: latest"></td>
                                <td data-bind="text: name"></td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-loading-text="<i class='icon-download-alt'></i>" data-bind="click: $parent.installCore">
                                        <i class="icon-download-alt"></i>
                                    </button></td>
                                <td>
                                    <button type="button" class="btn btn-danger" data-loading-text="<i class='icon-trash'></i>" data-bind="click: $parent.uninstallCore">
                                        <i class="icon-trash"></i>
                                    </button>
                                </td>
                            <!-- /ko -->
                            <!-- ko ifnot: $data.name && $data.latest -->
                                <td colspan="2">{{ _('Manually installed') }}</td>
                                <td>
                                    <button type="button" class="btn btn-primary" disabled>
                                        <i class="icon-download-alt"></i>
                                    </button></td>
                                <td>
                                    <button type="button" class="btn btn-danger" disabled>
                                        <i class="icon-trash"></i>
                                    </button>
                                </td>
                            <!-- /ko -->
                        </tr>
                    </tbody>
                <!-- /ko -->
                <!-- ko if: coreSearchResult().length == 0 -->
                    <tbody>
                        <tr>
                            <td colspan="5">{{ _('No result found') }}</td>
                        </tr>
                    </tbody>
                <!-- /ko -->
            </table>
        </div>
    </div>
</div>
