<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#marlin_flasher_arduino_accordion" href="#flash">
            {{ _('Flash') }}
        </a>
        <span data-bind="text: arduinoFirmwareVersion() ? 'Version: ' + arduinoFirmwareVersion() : ''"></span> <span data-bind="text: arduinoFirmwareAuthor() ? 'by: ' + arduinoFirmwareAuthor() : ''"></span>
    </div>
    <div id="flash" class="accordion-body collapse">
        <div class="accordion-inner">
            <form class="form-horizontal" data-bind="submit: flashArduino">
                <div class="control-group">
                    <label class="control-label" for="fqbn">{{ _('Board') }}</label>
                    <div class="controls">
                        <select id="fqbn" name="fqbn" required="required" data-bind="options: boardList.sorted(function(left, right) {return left.name > right.name ? 1 : -1;}),
                                                                                     optionsCaption: gettext('Please select one'),
                                                                                     optionsText: 'name',
                                                                                     optionsValue: 'fqbn',
                                                                                     value: selectedBoard"></select>
                    </div>
                </div>
                <div data-bind="foreach: boardOptions">
                    <div class="control-group">
                        <label class="control-label" data-bind="text: option_label,
                                                                attr: {for: option}"></label>
                        <div class="controls">
                            <select data-bind="attr: {name: option, id: option},
                                               options: $data.values,
                                               optionsText: 'value_label',
                                               optionsValue: 'value'"></select>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button id="arduino_flash-button" class="btn btn-warning" type="submit" data-loading-text='<i class="fas fa-spinner fa-spin"></i> {{ _("Flashing") }}' data-bind="enable: selectedBoard,
                                                                                                                                                      visible: !boardOptionsLoading()"><i class="fas fa-bolt"></i> {{ _('Flash') }}</button>
                        <i class="fas fa-spinner fa-spin fa-2x" data-bind="visible: boardOptionsLoading"></i>
                    </div>
                </div>
                <span data-bind="text: arduinoFlashStep"></span>
                <div class="progress progress-text-centered">
                    <div class="bar" data-bind="style: {width: arduinoFlashProgress() + '%'},
                                                css: {'bar-success': arduinoFlashFinished() && arduinoFlashSuccess(), 'bar-danger': arduinoFlashFinished() && !arduinoFlashSuccess()}"></div>
                </div>
            </form>
        </div>
    </div>
</div>
