<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#marlin_flasher_arduino_accordion" href="#libraries">
            {{ _('Libraries') }}
        </a>
    </div>
    <div id="libraries" class="accordion-body collapse">
        <div class="accordion-inner">
            <form class="form-search" data-bind="submit: searchLib">
                <div class="input-append">
                    <input name="query" type="text" class="span2 search-query">
                    <button id="search-lib-btn" type="submit" class="btn" data-loading-text="{{ _('Searching') }}">{{ _('Search') }}</button>
                </div>
            </form>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>{{ _('Name') }}</th>
                        <th class="btn-col"><i class="icon-download-alt"></i></th>
                        <th class="btn-col"><i class="icon-trash"></i></th>
                    </tr>
                </thead>
                <!-- ko if: libSearchResult().length > 0 -->
                    <tbody data-bind="foreach: libSearchResult">
                        <tr>
                            <td data-bind="text: name"></td>
                            <td class="install-col un-install-col">
                                <button type="button" class="btn btn-primary" data-loading-text="<i class='icon-download-alt'></i>" data-bind="click: $parent.installLib">
                                    <i class="icon-download-alt"></i>
                                </button></td>
                            <td class="uninstall-col un-install-col">
                                <button type="button" class="btn btn-danger" data-loading-text="<i class='icon-trash'></i>" data-bind="click: $parent.uninstallLib">
                                    <i class="icon-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                <!-- /ko -->
                <!-- ko if: libSearchResult().length == 0 -->
                    <tbody>
                        <tr>
                            <td colspan="3">{{ _('No result found') }}</td>
                        </tr>
                    </tbody>
                <!-- /ko -->
            </table>
        </div>
    </div>
</div>
