<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#marlin_flasher_accordion" href="#cores">
            Cores
        </a>
    </div>
    <div id="cores" class="accordion-body collapse">
        <div class="accordion-inner">
            <button type="button" id="test-button">Test</button>
            <table id="cores-table"></table>
        </div>
    </div>
</div>
