<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#marlin_flasher_accordion" href="#cores">
            Cores
        </a>
    </div>
    <div id="cores" class="accordion-body collapse">
        <div class="accordion-inner">
            <form id="cores-search-form" class="form-search">
                <div class="input-append">
                    <input id="cores-search-text" type="text" class="span2 search-query">
                    <button type="submit" class="btn">Search</button>
                </div>
            </form>
            <table id="cores-table"></table>
        </div>
    </div>
</div>
