<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#marlin_flasher_accordion" href="#flash">
            {{ _('Flash') }}
        </a>
    </div>
    <div id="flash" class="accordion-body collapse in">
        <div class="accordion-inner">
            <form class="form-horizontal" data-bind="submit: flash">
                <div class="control-group">
                    <label class="control-label" for="fqbn">{{ _('Board') }}</label>
                    <div class="controls">
                        <select id="fqbn" name="fqbn" required="required" data-bind="options:boardList,
                                                                                     optionsCaption: 'Please select one',
                                                                                     optionsText: 'name',
                                                                                     optionsValue: 'fqbn',
                                                                                     value: selectedBoard"></select>
                    </div>
                </div>
                <div data-bind="foreach: boardOptions">
                    <div class="control-group">
                        <label class="control-label" data-bind="text: OptionLabel,
                                                                attr: {for: Option}"></label>
                        <div class="controls">
                            <select data-bind="attr: {name: Option, id: Option},
                                               options: $data.Values,
                                               optionsText: 'ValueLabel',
                                               optionsValue: 'Value'"></select>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button id="flash-button" class="btn btn-warning" type="submit" data-loading-text="{{ _('Flashing...') }}" ><i class="icon-warning-sign"></i> {{ _('Flash') }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
