<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#marlin_flasher_accordion" href="#flash">
            Flash
        </a>
    </div>
    <div id="flash" class="accordion-body collapse in">
        <div class="accordion-inner">
            <form id="form-flash" class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="flash-board">Board</label>
                    <div class="controls">
                        <select id="fqbn"></select>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button id="flash-button" class="btn btn-warning" type="submit" data-loading-text="Flashing..." ><i class="icon-warning-sign"></i> Flash</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
