<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#marlin_flasher_accordion" href="#libraries">
            {{ _('Libraries') }}
        </a>
    </div>
    <div id="libraries" class="accordion-body collapse">
        <div class="accordion-inner">
            <form id="libs-search-form" class="form-search">
                <div class="input-append">
                    <input id="libs-search-text" type="text" class="span2 search-query">
                    <button type="submit" class="btn">{{ _('Search') }}</button>
                </div>
            </form>
            <table id="libs-table"></table>
        </div>
    </div>
</div>
