<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#marlin_flasher_accordion" href="#libraries">
            Libraries
        </a>
    </div>
    <div id="libraries" class="accordion-body collapse">
        <div class="accordion-inner">
            <p>
                Libs are here
            </p>
        </div>
    </div>
</div>
