<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#marlin_flasher_accordion" href="#sketch">
            {{ _('Sketch') }}
        </a>
    </div>
    <div id="sketch" class="accordion-body collapse">
        <div class="accordion-inner">
            <p>
                {{ _("Here you can upload whatever firmware you want to be running on your printer. Make sure it's a zip file containing a valid Arduino sketch.") }}
            </p>
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="sketch_file">{{ _('Arduino sketch') }} :</label>
                    <div class="controls">
                        <span class="btn fileinput-button">
                            <span>{{ _('Browse') }}</span>
                            <input id="sketch_file" type="file" name="sketch_file" data-url="{{ url_for("plugin.marlin_flasher.upload_sketch") }}" accept=".zip">
                        </span>
                    </div>
                </div>
                <div class="progress">
                    <div class="bar" data-bind="style: {width: uploadProgress() + '%'}"></div>
                </div>
            </form>
        </div>
    </div>
</div>
