<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#marlin_flasher_settings_accordion_{{field_suffix}}" href="#marlin_flasher_settings_arduino_{{field_suffix}}">
            {{ _('Arduino Settings') }}
        </a>
    </div>
    <div id="marlin_flasher_settings_arduino_{{field_suffix}}" class="accordion-body collapse">
        <div class="accordion-inner">
            <div class="alert alert-info">
                <strong>{{ _('Warning !') }}</strong> {{ _('You must have arduino-cli version between <strong>0.15.x</strong> and <strong>0.17.x</strong>. Other versions are not supported.') }}
            </div>
            <div class="control-group">
                <label class="control-label" for="cli_path_{{field_suffix}}">{{ _('Path to arduino-cli') }}</label>
                <div class="controls">
                    <input type="text" data-bind="value: settingsViewModel.settings.plugins.marlin_flasher.arduino.cli_path" id="cli_path_{{field_suffix}}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="sketch_ino_{{field_suffix}}">{{ _('Sketch .ino') }}</label>
                <div class="controls">
                    <input type="text" data-bind="value: settingsViewModel.settings.plugins.marlin_flasher.arduino.sketch_ino" id="sketch_ino_{{field_suffix}}">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="additional_urls_{{field_suffix}}">{{ _('Additional Board URLs') }}</label>
                <div class="controls">
                    <textarea class="input-block-level" id="additional_urls_{{field_suffix}}" rows="10" cols="100" data-bind="value: settingsViewModel.settings.plugins.marlin_flasher.arduino.additional_urls"></textarea>
                    <span>{{ _('*one per line') }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
