<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#marlin_flasher_settings_accordion_{{field_suffix}}" href="#marlin_flasher_settings_global_{{field_suffix}}">
            {{ _('Global Settings') }}
        </a>
    </div>
    <div id="marlin_flasher_settings_global_{{field_suffix}}" class="accordion-body collapse in">
        <div class="accordion-inner">
            <div class="control-group">
                <label class="control-label" for="marlin_flasher_platform_type_{{field_suffix}}">{{ _('Platform') }}</label>
                <div class="controls">
                    <select id="marlin_flasher_platform_type_{{field_suffix}}" data-bind="value: settingsViewModel.settings.plugins.marlin_flasher.platform_type">
                        <option value="arduino">Arduino</option>
                        <option value="platform_io">Platform.io</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="pre_flash_script_{{field_suffix}}">{{ _('Pre flash script') }}</label>
                <div class="controls">
                    <textarea class="input-block-level" id="pre_flash_script_{{field_suffix}}" rows="5" cols="100" data-bind="value: settingsViewModel.settings.plugins.marlin_flasher.pre_flash_script"></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="post_flash_script_{{field_suffix}}">{{ _('Post flash script') }}</label>
                <div class="controls">
                    <textarea class="input-block-level" id="post_flash_script_{{field_suffix}}" rows="5" cols="100" data-bind="value: settingsViewModel.settings.plugins.marlin_flasher.post_flash_script"></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="upload_size_{{field_suffix}}">{{ _('Maximum upload') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="number" min="1" max="1024" data-bind="value: settingsViewModel.settings.plugins.marlin_flasher.max_upload_size" id="upload_size_{{field_suffix}}">
                        <span class="add-on">{{ _('MB') }}</span>
                    </div>
                    <span>{{ _('*requires restart') }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
