<fieldset id="marlin_flasher_settings_platformio_{{field_suffix}}" data-bind="visible: settingsViewModel.settings.plugins.marlin_flasher.platform_type() === 'platform_io'">
    <legend>{{ _('PlatformIO') }}</legend>
    <div class="control-group" title="{{ _('One-click installation') }}">
        <div class="controls">
            <button role="button" class="btn btn-large" data-bind="click: installPlatformio,
                                                                   disable: installingPlatformio() || currentlyFlashing()"><i class="fas fa-magic"></i> Download and install</button>
        </div>
    </div>
    <div class="control-group" title="{{ _('Full path to the the platformio-core executable') }}">
        <label class="control-label" for="core_path_{{field_suffix}}">{{ _('Path to Platformio-Core') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settingsViewModel.settings.plugins.marlin_flasher.platformio.cli_path,
                                                                    disable: currentlyFlashing" id="core_path_{{field_suffix}}">
        </div>
    </div>
</fieldset>
<fieldset id="marlin_flasher_settings_platformio_account_{{field_suffix}}" data-bind="visible: settingsViewModel.settings.plugins.marlin_flasher.platform_type() === 'platform_io'">
    <div class="alert alert-success">
        {{ _('You are successfully logged in to your PlatformIO Account') }}
    </div>
    <div class="alert">
        {{ _('You are not logged in to your PlatformIO Account') }}
    </div>
    <legend>{{ _('PlatformIO Account') }}</legend>
    <div class="control-group" title="{{ _('PlatformIO username') }}">
        <label class="control-label" for="platformio_username">{{ _('Username') }}</label>
        <div class="controls">
            <input type="text" id="platformio_username" placeholder="Username">
        </div>
    </div>
    <div class="control-group" title="{{ _('PlatformIO password') }}">
        <label class="control-label" for="platformio_password">{{ _('Password') }}</label>
        <div class="controls">
            <input type="password" id="platformio_password" placeholder="**********" >
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="platformio_login_button" class="btn" data-loading-text="{{ _('Logging in') }}" data-bind="click: platformioLogin">{{ _('Login') }}</button>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="platformio_logout_button" class="btn" data-loading-text="{{ _('Logging out') }}" data-bind="click: platformioLogout">{{ _('Logout') }}</button>
        </div>
    </div>
</fieldset>
